@font-face {
  font-family: "poxel";
  src: url("../assets/fonts/poxel-font.ttf") format("truetype")
}

html, body{
    background-color: #1b3352;
	height: 100%;
	width:100%;
	overflow: hidden;
}

canvas{
    background-color: #fff;
    margin-left: calc(50% - 600px);
    margin-top: 20px;
}

.mobile-canvas{
	 margin: 0px !important;
	 padding: 0px !important;
	 position: fixed;
	 top: 0;
	 left: 0;
}

#nameplayer{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    position: fixed;
    top: 400px;
    left: calc(50% - 100px);
    color:#fff;
    font-size: 20px;
    text-align: center;
}

#nameplayer:focus{
    outline: none;
}