@font-face {
  font-family: "poxel";
  src: url("assets/fonts/poxel-font.ttf") format("ttf")
}

body{
    background-color: #555;
}

canvas{
    background-color: #fff;
    margin-left: calc(50% - 600px);
    margin-top: 20px;
}

#nameplayer{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    position: fixed;
    top: 400px;
    left: calc(50% - 100px);
    color:#fff;
    font-size: 20px;
    text-align: center;
}

#nameplayer:focus{
    outline: none;
}